<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% if(cart.length == 0) { %>
            <div class="alert alert-danger" role="alert">
                No se encontraron productos.
            </div>
        <% } else{ %>

            <ul >
                    <% cart.forEach(item => { %>

                    <li>
                        <%= item.product %>
                        <%= item.price %>
                    </li>

                    <% }); %>
                </ul>
        <% }%>
    </div>
    <form action="/home">
        <button formmethod="get" class="btn btn-success">home</button>
    </form>
</body>
</html>